

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color:#9b59b6;
    font-family:'Times New Roman', Times, serif;
}

div{
    height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

h1{
    color:white;
    background:transparent;
    text-shadow: 0 2px 2px black;
}

input{
    background-color:white;
    width:80%;;
    padding:10px 20px;
    margin:20px 0;
    text-align:center;
    /* justify-content:center; */
    border:none;
    outline:none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

button{
    color:white;
    line-height: 30px;
    cursor:pointer;
    border:3px solid white;
    border-radius:5px;
    text-transform: uppercase;
    padding:0 20px;
    outline:none;
}
